<footer class="footer">{{- if not .IsHome -}}<a
        href="{{ .Site.BaseURL }}">Home</a> | {{ end }}<a href="mailto:inom@inomoz.com">Contact</a> | <a href="/index.xml">RSS</a></footer>

{{ if (findRE "<pre" .Content 1) }}
    <script src="/js/copy-code-button.js"></script>

{{ end }}

<script> (function(ss,ex){ window.ldfdr=window.ldfdr||function(){(ldfdr._q=ldfdr._q||[]).push([].slice.call(arguments));}; (function(d,s){ fs=d.getElementsByTagName(s)[0]; function ce(src){ var cs=d.createElement(s); cs.src=src; cs.async=1; fs.parentNode.insertBefore(cs,fs); }; ce('https://sc.lfeeder.com/lftracker_v1_'+ss+(ex?'_'+ex:'')+'.js'); })(document,'script'); })('lYNOR8xooNbaWQJZ'); </script>
