<footer class="footer">{{- if not .IsHome -}}<a
        href="{{ .Site.BaseURL }}">Home</a> | {{ end }}<a href="mailto:inom@inomoz.com">Contact</a> | <a href="/index.xml">RSS</a></footer>

{{ if (findRE "<pre" .Content 1) }}
    <script src="/js/copy-code-button.js"></script>

{{ end }}

<script>
    var remark_config = {
        host: "https://remark.inomoz.com", // hostname of remark server, same as REMARK_URL in backend config, e.g. "https://demo.remark42.com"
        site_id: 'INOMOZ_COM',
        components: ['embed'], // optional param; which components to load. default to ["embed"]
                               // to load all components define components as ['embed', 'last-comments', 'counter']
                               // available component are:
                               //     - 'embed': basic comments widget
                               //     - 'last-comments': last comments widget, see `Last Comments` section below
                               //     - 'counter': counter widget, see `Counter` section below
        max_shown_comments: 10, // optional param; if it isn't defined default value (15) will be used
        theme: 'light', // optional param; if it isn't defined default value ('light') will be used
        page_title: 'Moving to Remark42', // optional param; if it isn't defined `document.title` will be used
        locale: 'en', // set up locale and language, if it isn't defined default value ('en') will be used
        show_email_subscription: false, // optional param; by default it is `true` and you can see email subscription feature
        simple_view: false // optional param; overrides the parameter from the backend
    };
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
