<head>
	<meta charset="utf-8">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }}</title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

    <meta name="description" content="Inomoz - personal website">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ $siteTitle }}{{if .IsHome}} | Home{{end}}">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="{{ .Site.Params.og_image }}"/>

    <link rel="icon" href="/favicon.ico"><!-- 32×32 -->
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest">

	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/normalize.css" />
    {{ $mainStyle := resources.Get "scss/main.scss" }}
    {{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $styles := $mainStyle | resources.ToCSS $options }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ $styles.Permalink }}" integrity="{{ $mainStyle.Data.Integrity }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
