$font-size:    16px;
$line-height-ratio: 1.5;
$line-height-base:  1rem * $line-height-ratio;
// base line-height = 16px * 1.5 = 24px

@mixin vertical-rhythm($font-size, $bottom-rows: 1, $top-rows: 0, $use-height: false) {
  $font-size: $font-size;
  $multiplier: ceil($font-size / $line-height-base);

  // check if height-based element
  // if so use height property for height, otherwise use line-height property
  @if $use-height {
    $leftover:      $line-height-base * $multiplier - $font-size;
    height:         $font-size;
    margin-top:     $line-height-base * $top-rows + $leftover / 2;
    margin-bottom:  $line-height-base * $bottom-rows + $leftover / 2;
  }
  @else { // text based element (uses line-height)
    font-size:      $font-size;
    line-height:    $line-height-base * $multiplier;
    margin-top:     $line-height-base * $top-rows;
    margin-bottom:  $line-height-base * $bottom-rows;
  }
}


:root {
    --main-border-color: #000;
    --main-link-color: #ef5350;
    --main-link-color-visited: #ff867c;
    --main-link-color-hover: #f00;
    --main-body-color: #000;
    --main-hover-bg: rgba(0, 0, 0, 3%);
}

html {
    font-size:    $font-size;
    line-height:  $line-height-ratio;
}

body {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Lora', serif;
    overflow-x: hidden;
}

h1.title{
    margin-bottom: 0;
}

body > header, body > section, body > footer {
    background: #fff;
}


.article-w {
    display: block;
    color: var(--main-body-color);
    text-decoration: none;
    border-radius: 4px;
}

.article-w:visited {
    color: var(--main-body-color);
}

.article-w:hover,
.article-w:focus {
    background-color: var(--main-hover-bg);
    color: var(--main-body-color);
}

.article-w:hover h1,
.article-w:focus h1 {
    text-decoration: underline;
}

.article-w:hover .gg-link,
.article-w:focus .gg-link {
    color: red;
}

.article-w:not(:first-of-type) {
    margin-top: -1px;
}

h1, .h1 {
  @include vertical-rhythm(2.7rem, 1, 1);
}
h2, .h2 {
  @include vertical-rhythm(2rem, 1, 1);
}
h3, .h3 {
  @include vertical-rhythm(1.6rem, 1, 1);
}
h4, .h4 {
  @include vertical-rhythm(1.3rem, 1, 1);
}
h5, .h5 {
  @include vertical-rhythm(1.2rem, 1, 1);
}
h6, .h6 {
  @include vertical-rhythm(1.1rem, 1, 1);
}

p, ul, ol, pre, table, blockquote, figure, figcaption, audio, video, meter, progress, iframe {
    margin-top: 0;
    @include vertical-rhythm(1rem, 1, 1);
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* Let's make sure all's aligned */
hr, .hr {
    border: 0;
    height: 1.8125rem;
    position: relative;
    margin: 0;
}

hr:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

a {
    color: var(--main-link-color);
}

a:visited {
    color: var(--main-link-color-visited);
}

a:hover,
a:focus {
    color: var(--main-link-color-hover);
}

.icon {
    display: inline-flex;
    align-self: center;
    margin-right: .2em;
}

.icon svg {
    height: 1em;
    width: 1em;
}

.icon.svg-baseline svg {
    top: .125em;
    position: relative;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem 20px;
    align-items: center;
}

body > header {
    border-bottom: 2px solid var(--main-border-color);
    margin-bottom: -2px;
}

.header .header-title {
    @include vertical-rhythm(2rem, 0.5, 0.5);
    display: flex;
    font-style: italic;
    cursor: default;
}

.header .header-title a {
    color: var(--main-body-color);
    text-decoration: none;
}

.header .header-title pre {
    margin-bottom: 0;
}

/* Custom styles */
.navbar .navbar-section {
    align-items: center;
    display: flex;
    flex: 1 0 0;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.navbar .navbar-section a {
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid transparent;
    margin-top: -1px;
}

.navbar .navbar-section a:hover,
.navbar .navbar-section a:focus {
    border-bottom: 1px solid currentColor;
}


.navbar .navbar-section li:not(:last-of-type)::after {
    content: '|';
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: rgba(0, 0, 0, .2);
}

.footer {
    text-align: center;
    padding: 0 20px;
    @include vertical-rhythm(1rem, 1, 2);
}

article > header {
    position: relative;
    padding: 0 36px 0 20px;
}

article > section {
    padding: 0 20px;
}

article > footer {
    padding: 0 20px;
}

article > header .gg-link {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--main-link-color);
}

table{
    border-collapse: collapse;
}

table td,
table th{
    border: 1px solid #000;
    padding-left: 8px;
    padding-right: 8px;
}

.summary-section p{
    margin: 0;
}

.summary-section{
    margin: 0 0 1.8125rem;
}

.published-time {
    margin-bottom: 0;
    font-style: italic;
}

.published-time::before{
    content: "[ ";
}

.published-time::after{
    content: " ]";
}

.gg-link {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(-45deg);
    width: 8px;
    height: 2px;
    background: currentColor;
    border-radius: 4px;
}

a:link .gg-link,
a:visited .gg-link{
    color: var(--main-body-color)
}

.gg-link::after,
.gg-link::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 8px;
    height: 10px;
    border: 2px solid;
    top: -4px
}

.gg-link::before {
    border-right: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    left: -6px
}

.gg-link::after {
    border-left: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    right: -6px
}

.highlight{
    @include vertical-rhythm(1rem, 1, 1);
}

.highlight > div{
    border-radius: 2px;
}

.highlight > div > table{
    border-radius: 2px;
}



.highlight > div > table tr:last-child td:first-child {
    border-bottom-left-radius: 2px;
}

.highlight > div > table tr:last-child td:last-child {
    border-bottom-right-radius: 2px;
}

.highlight pre{
    margin-bottom: 0;
}


.copy-code-button {
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
    border: 1px solid transparent;

    /* right-align */
    display: block;
    margin-left: auto;
    margin-right: 0;
    position: absolute;
    top: 4px;
    right: 0;
}

.copy-code-button svg{
    fill: currentColor;
    color: currentColor;
    width: 16px;
    height: 16px;
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button.active{
    background-color: #000;
    color: var(--main-link-color-hover);
    border: 1px solid transparent;
    cursor: pointer;
    opacity: 1;
}

.highlight {
    position: relative;
}

td code,
p code{
    background-color: #272822;
    color: #fff;
    border-radius: 2px;
    padding:0 4px;
}

img{
    max-width: 100%;
}

section.tags-list{
    padding: 0 20px;
}
.tags-list ul{
    list-style: none;
    margin-top: .90625rem;
    padding-left: 0;
}

.tags-list li{
    display: inline-block;
    border: 1px solid var(--main-link-color);
    padding: 0 8px;
    border-radius: 2px;
}


.tags-list li:not(:last-of-type){
    margin-right: 10px;
}

.tags-list li a{
    text-decoration: none;
}

.pagination{
    padding-left: 20px;
}

.pagination a{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
