<!doctype html>
<html class="no-js" lang="en-US">
    {{ partial "header.html" . }}
    <body>
        {{ partial "head.html" . }}

        <main class="list">
            {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
            {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
            {{ range $paginator.Pages }}
            <section class="list-item">
                <a href="{{ .RelPermalink }}" class="article-w">
                    <article>
                        <header>
                            <h2 class="title">{{.Title}}</h2>
                            <i class="gg-link"></i>
                        </header>
                        <section class="summary-section">
                            {{ if isset .Params "description" }}
                            {{ .Description }}
                            {{ end }}
                        </section>
                        <footer>
                            <p class="published-time">
                                <time>Created: {{ dateFormat "Jan 2, 2006" .Date }} | Updated: {{ dateFormat "Jan 2, 2006" .Lastmod }} {{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }} | ~ {{ math.Round (div (countwords .Content) 200.0) }} minutes to read</time>
                            </p>
                        </footer>
                    </article>
                </a>

            </section>
            <section class="tags-list">
                <ul>
                    {{ range $i, $e := .Params.tags -}}
                    <li>
                        <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ $e | humanize }}</a>
                    </li>
                    {{- end -}}
                </ul>
            </section>
            {{ end }}
            {{ template "partials/paginator.html" . }}
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
